.article-list-holder {
  width: 100%;
  margin-bottom: 40px;

  .article-list-title {
    margin: 40px auto;
    text-align: center;
  }

  .more-button {
    display: flex;
    justify-content: center;
  }
}

.article-list {
  &.grid {
    @extend .grid-list; /* stylelint-disable-line scss/at-extend-no-missing-placeholder */
  }

  &.list {
    max-width: 600px;
  }
}

.article {
  width: 100%;

  .article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .ingress {
    font-weight: bold;
  }

  figure {
    img {
      max-width: 100%;
    }
  }
}

.article-creds {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 600px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  & ul {
    &.authors {
      list-style-type: none;
      margin-block-start: 0px;
      margin-block-end: 0px;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      margin-bottom: 0px;
      padding-inline-start: 0px;


      & a {
        align-items: center;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;

        & img {
          margin-bottom: -5px;
          margin-right: 5px;
          width: 30px;
          /* padding-top: 5px; */
        }
      }
    }
  }

  & .article-date {
    height: 100%;
    align-self: center;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

/* Mobile */
@media
  only screen
    and (max-width: 414px),
  // Galaxy
  only screen
    and (device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape),
  only screen
    and (device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 4)
    and (orientation: portrait),
  // iPhone
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 428px)
    and (device-height: 926px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 760px) {
  .article {
    .article-title {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
