.board-presentation-list {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.board-presentation-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;

  .board-presentation-title {
    text-align: center;
  }

  .board-presentation-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > * {
      width: 50%;
    }

    .leader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .leader-name {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;

        color: var(--lib-color-primary-700);
      }
    }

    .members {
      display: flex;
      flex-direction: column;
      row-gap: 6px;

      .member-item {
        font-size: 18px;
        line-height: 22px;
        color: var(--lib-color-primary-300);
      }

      .role {
        font-weight: 500;

        &::after {
          content: ': '
        }
      }
    }

    .leader-role, .members-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;

      color: var(--lib-color-primary-300);
    }
  }
}

@media
  only screen
    and (max-width: 414px),
  // Galaxy
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 4)
    and (orientation: portrait),
  // iPhone
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 428px)
    and (device-height: 926px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
  .board-presentation-wrapper {
    & .board-presentation-content {
      flex-direction: column;
      row-gap: 40px;

      & > * {
        width: 100%;
      }
    }
  }
}
