.candidate-page-wrapper {
  width: 100%;
}

.fancy-candidate-image-wrapper {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;
  margin: 30px auto 100px auto;

  .fancy-candidate-image-figure {
    width: 100%;
    margin: auto;
    z-index: 1;
    text-align: center;

    .fancy-candidate-image-art {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 6%;
      margin-bottom: -85%;
    }

    .fancy-candidate-image-image {
      width: 100%;
      max-width: 650px;
      min-height: 650px;
      max-height: 800px;
      object-fit: cover;
      border-radius: 24px;
      z-index: 1;
      box-shadow: 0 24px 63px rgba(74, 16, 74, 0.61);
    }
  }

  .fancy-candidate-image-title {
    background: var(--lib-color-primary-700);
    margin-top: -36px;
    z-index: 10;
    margin-right: auto;
    margin-left: auto;
    width: 650px;
    height: 70px;
    left: 0;
    right: 50px;
    position: absolute;
    padding-top: 0px;

    &> h1 {
      color: var(--lib-color-button-color-100);
      font-size: 40px;
      font-weight: 800;
      line-height: 0;
      text-align: center;
      margin: revert;
    }
  }

  .trapezoid {
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 50px solid var(--lib-color-header-100);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    text-align: center;
    transform: rotate(180deg);
    margin-right: auto;
    margin-left: auto;
    margin-top: 34px;
    padding: 0px 20px 0px 20px;

    &> h2 {
      color: var(--lib-color-primary-700);
      transform: rotate(180deg);
      font-size: 20px;
      line-height: 50px;
      z-index: 10;
      position: relative;
    }
  }
}

@media not all and (min-resolution:.001dpcm) {
  .fancy-candidate-image-wrapper {
    .fancy-candidate-image-art {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 6%;
      margin-bottom: -85%;
    }

    .fancy-candidate-image-title {
      width: 80%;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 950px) {
  .fancy-candidate-image-wrapper {
    .fancy-candidate-image-art {
      display: none;
    }

    .fancy-candidate-image-image {
      max-height: 400px;
      max-width: 80%;
    }
  }
}

@media screen and (max-width: 500px) {
  .fancy-candidate-image-wrapper {
    .fancy-candidate-image-art {
      min-height: 300px;
    }
  }
}

.candidate-presentation {
  &.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: space-between;
  }

  &.item {
    display: flex;
    flex-direction: column;
    background-color: var(--lib-color-background-300);
    width: calc(33% - 10px);

    .image {
      max-height: 500px;
      width: 100%;

      img {
        width: 100%;
        max-width: 100%;
        height: 200px;
        object-fit: cover;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 15px;

      .title {
        h3 {
          font-size: 30px;
        }
      }

      .sub-title {
        color: var(--lib-color-primary-700);
        line-height: 22px;
        font-size: 18px;
      }

      .pre-text {
        display: none;
      }

      .ingress {
        display: none;
      }

      .description {
        display: none;
      }
    }

    &.main {
      width: 100%;
      flex-direction: row-reverse;
      flex-shrink: 0;

      .image {
        width: calc(66% + 12px);

        img {
          height: 500px;
        }
      }

      .content {
        width: calc(33% - 10px);
        align-items: flex-start;
        row-gap: 15px;
        margin: 15px;

        .title {
          h3 {
            line-height: 1;
          }
        }

        .pre-text {
          display: unset;
        }

        .ingress {
          display: block;
        }
      }

    }
  }
}

@media
  only screen
    and (max-width: 414px),
  // Galaxy
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 4)
    and (orientation: portrait),
  // iPhone
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 428px)
    and (device-height: 926px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
  .candidate-presentation {
    &.list {
      flex-direction: column;
    }

    &.item {
      width: 100%;

      .image {
        img {
          width: 100%;
        }
      }

      &.main {
        flex-direction: column;

        .image {
          width: 100%;
          height: 200px;

          img {
            width: 100%;
            height: 200px;
          }
        }

        .content {
          width: 100%;
          align-items: center;

          .ingress {
            display: none;
          }
        }
      }
    }
  }
}
