.event {
  & .leaflet-container {
    height: 500px;
    width: 100%;
  }
  
  & .event-content {
    display: flex;    
    justify-content: space-between;
    padding-top: 40px;
    width: 100%;
    
    & h2 {
      font-size: 38px;
      line-height: 46px;
      
      margin-bottom: 20px;
    }
    
    & .details {
      width: 66%;
      
      & .info, .more-info {
        margin-bottom: 40px;      
        & .text {
          max-width: 964px;
        }
      }
    }
    
    & .location {
      width: 33%;
      
      & .map-container, .event-place {
        margin-bottom: 40px;
      }
      
      & .event-place, .event-time {
        color: var(--lib-color-subtext-100);        
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
      }      
    }
  }
}