.group {  
  & .group-content {
    display: flex;
    padding-top: 20px;
    
    & .details {
      & .info {
        & h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
  
  & .board  {
    &> * {
      max-width: 1200px;
      margin: auto;
    }
    
    &> .leader {
      display: flex;
      justify-content: center;      
    }
    
    &> .members {
      display: flex;
      flex-flow: wrap;
    }

    & .list-item.person {
      width: 50%;
    }
  }
}