.image-block {
  display: flex;
  position: relative;
  
  & .full {
    & > img {
      width: 100%;
    }
  }
  
  & > .content {
    position: absolute;
    top: 90px;
    width: 33%;
    z-index: 10;
    
    & .ingress {
      font-size: 35px;
      font-weight: 500;
      line-height: 42px;
    }
    
    h1 {
      font-size: 100px;
      font-weight: 800;
      line-height: 120px;
    }
    
    &.right {
      right: 10%;
    }
    
    &.left {
      left: 10%;
    }
    
    &.center {
      left: 50%; // ^1
      transform:translateX(-50%); // ^2,3
    }
    
    &.light {
      & h1, h2, h3, .ingress {
        color: #fff;
      }
          
    }
  }
}












