.list-item-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  & .list-item-title {
    color: var(--lib-color-primary-700);
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
  }
}

@media
  only screen
    and (max-width: 414px),
  // Galaxy
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 4)
    and (orientation: portrait),
  // iPhone
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 428px)
    and (device-height: 926px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
  .list-item-content {
    align-items: center;
  }
}
