.list-item-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  & .list-item-title {
    color: var(--lib-color-primary-700);
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
  }
}