.missions {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;

  &> * {
    width: calc(50% - 10px);
  }
}

.mission {
  max-width: fit-content;
  h3 {
    .image {
      display: inline;

      img {
        height: 32px;
      }
    }
  }
}

@include for_small_devices {
  .missions {
    flex-direction: column;
    flex-wrap: nowrap;

    &> * {
      width: 100%;
    }
  }
}
