.list-item.person {
  & .role {
    color: var(--lib-color-primary-300);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 5px;
  }
}

.person-list {
  display: flex;
}

.person-list.grid {
  flex-direction: row;
}

.person-list.list {
  flex-direction: column;
}
