.programme-main {
  margin-top: 40px;
}

.programme-section {
  margin-top: 40px;

  & .programme-section-description {
    margin-top: 20px;
  }

  & .programme-sections-parts {
    .conclusions-header {
      margin-block-end: 1em;
    }

    &>.conclusions {
      &>ul {
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
  }
}

.programme-part {
  margin-top: 40px;

  & .programme-part-description {
    margin-top: 20px;
  }
}

/* Mobile */
@media
  only screen
    and (max-width: 414px),
  // Galaxy
  only screen
    and (device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape),
  only screen
    and (device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (min-device-width: 360px)
    and (-webkit-min-device-pixel-ratio: 4)
    and (orientation: portrait),
  // iPhone
  only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (min-device-width: 375px)
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 390px)
    and (device-height: 844px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait),
  only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait),
  only screen
    and (device-width: 428px)
    and (device-height: 926px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
  .programme-section {
    .programme-section-description {
      .Standard {
        width: calc(100% - 2em);
      }

      & > ul {
        width: calc(100% - 80px);
      }
    }
  }
}
