:root {
	--lib-color-secondary-100: #f0f2f5;
	--lib-color-secondary-500: #657683;
	
	--lib-color-primary-100: #696f88;
	--lib-color-primary-300: #5d5664;
	--lib-color-primary-500: #755275;	
	--lib-color-primary-700: #4a104a;
  
	--lib-color-subtext-100: #959AAF;
  --lib-color-background-100: #e5e5e5;
	--lib-color-background-500: #f8f6f8;
	--lib-color-background-700: #fff;
	
	--lib-color-header-100: #ede8ed;
	
	--lib-color-button-color-100: #fff;
	
 	--lib-color-warning: #c20000;
	
	--lib-color-menu-background: #fff;
}

a {
	color: var(--lib-color-primary-700);
	text-decoration: none;
}