.main-wrapper {
  min-height: 100%;
  padding: 0 0 120px;
  position: relative;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.social-icons {
  align-items: center;
  display: flex;
  font-size: 23px;
  gap: 10px;
  line-height: 23px;
  position: absolute;
  padding-left: 20px;
  left: 0px;

  & i {
    text-align: center;
    min-width: 24px;
    min-height: 24px;
  }

  & .fa-facebook:before {
    content: "\f39e";
  }

  & a {
    background-color: var(--lib-color-menu-background);
    color: #63678A;
    text-decoration: none;
  }
}

main {
  > .content-holder {
    max-width: 100%;
    display: none;

    &:has([data-portal-component-type="part"] > div) {
      display: block;
    }

    &.light-purple {
      background-color: var(--lib-color-background-300);
    }

    &.light-grey {
      background-color: var(--lib-color-background-500);
    }

    &.purple {
      background-color: var(--lib-color-primary-700);
      color: var(--lib-color-background-700);

      & h1, h2, h3 {
        color: var(--lib-color-background-700);
      }

      a {
        color: var(--lib-color-purple-anchor);
      }
    }

    &.white {
      background-color: #fff;
    }

    &.yellow {
      background-color: rgb(255,255,0);
    }

    &.padding-top {
      padding-top: 50px;
    }

    &.padding-bottom {
      padding-bottom: 50px;
    }

    & > .content {
      width: 100%;
      max-width: 1296px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 20px;
      padding-top: 20px;

      & > .content-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 911px;
        max-width: 100%;

        .xp-page-editor-item-view {
          &.empty {
            width: 100%;
          }
        }

        & p > a {
          text-decoration: underline;
        }

        & .page-content, section[data-portal-component-type="text"] > *, div[data-portal-component-type="text"] > section > * {
          margin-left: auto;
          margin-right: auto;
          width: 600px;
          max-width: 100%;
        }

        div[data-portal-component-type="part"] {
          width: 100%;
        }

        section[data-portal-component-type="text"] {
          > figure {
            width: 100%;

            img {
              max-width: 100%;
            }
          }
        }

        &.items {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          row-gap: 40px;

          &.reverse {
            flex-wrap: wrap-reverse;
          }

          & .content-child {
            &.items {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
            }

            &.left {
              margin-right: -20px;
              &>* {
                padding-right: 20px;
              }
            }

            &.middle {
              margin-left: -10px;
              margin-right: -10px;

              &>* {
                padding-left: 8px;
                padding-right: 8px;
              }
            }

            &.right {
              margin-left: -20px;

              &>* {
                padding-left: 20px;
              }
            }

            &.full {
              width: 100%;
            }

            &.one {
              width: 50%;
            }

            &.one-20 {
              width: 20%;
            }

            &.one-25 {
              width: 25%;
            }

            &.one-30 {
              width: 30%;
            }

            &.one-33 {
              width: 33%;
            }

            &.one-40 {
              width: 40%;
            }

            &.two-60 {
              width: 60%;
            }

            &.two-66 {
              width: 66%;
            }

            &.two-70 {
              width: 70%;
            }

            &.two-75 {
              width: 75%;
            }

            &.four {
              width: 80%;
            }
          }
        }
      }

      &.full {
        max-width: 1800px;

        & > .content-item {
          width: 100%;
        }
      }

      & > .divider.visible {
        border: 2px solid rgba(74, 16, 74, 0.18);
        height: 0px;
      }
    }
  }
}

/* Bug on edit pages fix */
body {
  &.xp-page-editor-page-view {
    height: 100vh;

    & footer {
      height: 120px;
    }
  }
}

html body {
  margin: 0;
  height: 100vh;
  padding: 0;
}

.three-column-parent {
  display: flex;
  flex-direction: row;
}

.three-column-child {
  width: 33%;
}

/* Mobile */
@include for_small_devices {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .main-wrapper {
    padding: 0 0 240px;
  }

  main {
    & > .content-holder {
      &.padding-top {
        padding-top: 20px;
      }

      &.padding-bottom {
        padding-bottom: 20px;
      }

      & > .content {
        width: calc(100% - 40px);
        margin-left: auto;
        margin-right: auto;
        padding: 20px;

        & > .content-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          width: 100%;

          & section  {
            width: 100%;
          }

          & .page-content, section[data-portal-component-type="text"] > p {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
          }

          & .page-content  {
            & figure {
              margin-inline-start: 0;
              margin-inline-end: 0;
            }
          }

          &.items {
            column-gap: 40px;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 40px;

            &.reverse {
              flex-wrap: wrap-reverse;
              flex-direction: column-reverse;
            }

            & .content-child {
              &.items {
                flex-direction: column;
              }

              &.left {
                margin-right:   0px;
                &>* {
                  padding-right: 0px;
                }
              }

              &.middle {
                margin-left: 0px;
                margin-right: 0px;

                &>* {
                  padding-left: 0px;
                  padding-right: 0px;
                }
              }

              &.right {
                margin-left: 0px;

                &>* {
                  padding-left: 0px;
                }
              }

              &.full,&.one,&.one-20,&.one-25,&.one-30,&.one-33,&.one-40,&.two-60,&.two-66,&.two-70,&.two-75,&.four {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
