$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";