$primary_font_family: 'Lato', sans-serif;

body {
  background-color: var(--lib-color-background-700);
  color: var(--lib-color-primary-100);
  font-family: $primary_font_family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  color: var(--lib-color-primary-700);
  font-family: $primary_font_family;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  margin: 0px;
}

h2 {
  color: var(--lib-color-primary-500);
  font-family: $primary_font_family;
  font-size: 45px;
  font-style: normal;
  font-weight: bold;
  line-height: 54px;
  margin: 0px;
}

h3 {
  color: var(--lib-color-primary-500);
  font-family: $primary_font_family;
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
  line-height: 46px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 0px;
}

.rich-text {
  color: var(--lib-color-primary-300);
  font-family: $primary_font_family;
  line-height: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.as-span {
  display: inline;

  & > p {
    display: inline;
  }
}

/* Mobile */
@media screen and (max-width: 414px) {
  h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 54px;
  }

  h2 {
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
  }
}
