.board-presentation-list {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.board-presentation-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;

  .board-presentation-title {
    text-align: center;
  }

  .board-presentation-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > * {
      width: 50%;
    }

    .highlighted {
      display: flex;
      justify-content: center;
      margin: auto;

      & > .ingress {
        margin: auto;
        padding: 40px;
      }
    }

    .leader {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .leader-name {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;

        color: var(--lib-color-primary-700);
      }
    }

    .members {
      display: flex;
      padding-left: 10px;

      .members-inner {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        width: 100%;

        .member-item {
          display: flex;
          font-size: 18px;
          line-height: 22px;
          color: var(--lib-color-primary-300);
          width: 100%;

          .member-item-email {
            margin-bottom: 20px;
          }
        }

        .role {
          font-weight: 500;
          width: 40%;

          &::after {
            content: ': '
          }
        }

        .name {
          width: 60%;
        }
      }
    }

    &.reverse {
      flex-flow: row-reverse;
      column-gap: 10px;

      .members {
        flex-basis: content;
      }
    }

    .leader-role, .members-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;

      color: var(--lib-color-primary-300);
    }
  }

  @include for_small_devices {
    & .board-presentation-content {
      flex-direction: column;
      row-gap: 40px;

      & > * {
        width: 100%;
      }

      .members {
        .members-inner {
          .member-item {
            font-size: 4.5vw;
          }

          .role {
            width: 45%;
          }

          .name {
            width: 55%;
          }
        }
      }
    }
  }
}
