.intro-block {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;

  & > div {
    width: calc(50% - 10px);
  }

  column-gap: 20px;

  & img {
    width: 100%;
  }

  & .description {
    margin-top: 15px;
  }
}

@include for_small_devices {
  .intro-block {
    flex-direction: column-reverse;

    row-gap: 20px;

    & > div {
      width: 100%;
    }
  }
}

