.localbranches {
  display: flex;
  flex-direction: column;

  row-gap: 30px;

  &> .heading {
    &.center {
      text-align: center;
    }
  }

  &> .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 10px;
    row-gap: 5px;

    margin-left: 10px;
    align-items: center;

    &> * {
      flex-basis: calc(25% - 7.5px);
      align-items: center;

      &> a {
        text-decoration: underline;
      }
    }
  }
}

.localbranch-candidate {
  background-color: white;
  display: flex;
  flex-direction: row;
  column-gap: 10px;

  max-width: 50%;

  h3 {
    font-size: 28px;
    line-height: 34px;
  }

  & > .image-holder {
    width: 25%;
    margin-top: 10px;

    & .image {
      padding: 10px;
      &>img {
        width: 100%;
      }
    }
  }

  & > .information {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    row-gap: 10px;
    flex: 1 1 100%;
    margin-right: 10px;

    hr {
      margin-top: -2px;
      height: 0.8px;
      background-color: gainsboro;
      border: none;
    }

    &> .position {
      font-style: italic;
    }

    &> .phone, .email {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
    }
  }
}

.localbranch-candidates {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .heading {
    &> .center {
      text-align: center;
    }
  }


  &> .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 15px;
    column-gap: 15px;

    & > * {
      flex: 1 1 calc(50% - 10px);
    }
  }

}

@include for_small_devices {
  .localbranch-candidates {

    &> .items {
      & > * {
        width: 100%;
        flex: auto;
        max-width: fit-content;
      }
    }
  }

  .localbranches {
    &> .items {
      row-gap: 10px;

      &> * {
        flex-basis: calc(50% - 7.5px);
      }
    }
  }

}
