<div class="content-holder" th:classappend="|${background} ${paddingBottom ? 'padding-bottom' : ''} ${paddingTop ? 'padding-top' : ''}|">
  <div class="content" th:classappend="${fullWidth ? 'full' : ''}">
    <div class="content-item items">
      <div data-portal-region="top" class="content-child full">
        <div data-th-each="component : ${topRegion.components}" data-th-remove="tag">
          <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
      </div>

      <div data-portal-region="left" class="content-child left" th:classappend="${leftClassName}">
        <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
          <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
      </div>
      
      <div data-portal-region="middle" class="content-child middle" th:classappend="${middleClassName}">
        <div data-th-each="component : ${middleRegion.components}" data-th-remove="tag">
          <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
      </div>
      
      <div data-portal-region="right" class="content-child right" th:classappend="${rightClassName}">
        <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
          <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
      </div>
    </div>
    <div class="divider" th:classappend="${borderBottom?'visible':''}"></div>
  </div>
</div>
