body {
  font-family: Lato, sans-serif;
}

.three-column-parent {
  display: flex;
  flex-direction: row;
}

.three-column-child {
  width: 33%;
}

.person-list {
  display: flex;
}

.person-list.grid {
  flex-direction: row;
}

.person-list.list {
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item-info {
  padding-left: 10px;
}

.grid-item img {
  padding: 10px;
}

.list-item {
  display: flex;
  flex-direction: row;  
}

.list-item-info {
  padding-left: 10px;
  padding-top: 10px;
}

.list-item img {
  padding: 10px;
}

img.round {
  border-radius: 50%;
}

.grid-item .small>img {
  width: 100px;
}

.grid-item .medium>img {
  width: 256px;
}

.grid-item .large>img {
  width: 356px;
}

.list-item .small>img {
  width: 100px;
}

.list-item .medium>img {
  width: 200px;
}

.list-item .large>img {
  width: 300px;
}