body {
  font-family: Lato, sans-serif;
}

.three-column-parent {
  display: flex;
  flex-direction: row;
}

.three-column-child {
  width: 33%;
}

.person-list {
  display: flex;
}

.person-list.grid {
  flex-direction: row;
}

.person-list.list {
  flex-direction: column;
}

.grid-item {
  display: flex;
  flex-direction: column;
}

.grid-item-info {
  padding-left: 10px;
}

.person-list .grid-item img {
  width: 256px;
  padding: 10px;
}

.list-item {
  display: flex;
  flex-direction: row;  
}

.list-item-info {
  padding-left: 10px;
  padding-top: 10px;
}

.person-list .list-item img {
  width: 100px;
  padding: 10px;
}