body {
  font-family: Lato, sans-serif;
  font-size: 25px;
  color: #4a104a;
  text-align: center;
}

header.header {
  left: 15px;
  position: absolute;
  top: 15px; 
  width:200px; 
}

header.header figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

header.header img {
  width: 200px;
}

main.box-content {
  margin: auto;
  margin-top: 20vh;
  max-width: 800px;
}

main.box-content figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

main.box-content img {
  max-width: 800px;
  width: 100%;
}

@media screen and (max-height: 890px) {
  main.box-content {
    max-width: 500px;
  }
}
      
      