<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title th:text="${title}">Her kommer Liberalistene</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link data-th-href="${portal.assetUrl({'_path=styles/bundle.css'})}" href="../assets/styles/bundle.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
		<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	</head>

	<body>
		<div class="main-wrapper">
			<header>
				<th:block data-th-if="${image}">
					<a href="/" title="Hjem"><img th:src="${image.url}" /></a>
				</th:block>
			</header>

			<main data-portal-region="main">
				<th:block data-th-if="${mainRegion}">
					<th:block data-th-each="component : ${mainRegion.components}">
						<th:block data-portal-component="${component.path}"></th:block>
					</th:block>
				</th:block>
			</main>

			<footer>
				<div class="footer-menu">
					<th:block data-th-if="${some}">
						<div class="social-icons">
							<th:block data-th-each="urls : ${some}">
								<a data-th-href="${urls.href}"><i class="fab" th:classappend="${urls.className}"></i></a>
							</th:block>
						</div>
					</th:block>						
				</div>
				<div class="contact">
	        <div class="place" th:text="${place}">Oslo</div>
	        <div class="phone" th:text="${phone}">88 55 00 00</div>
	        <div class="email" th:text="${email}">contact@liberalistene.org</div>
	    	</div>
			</footer>
		</div>
	</body>
</html>
