<div class="three-column-parent">
  <div data-portal-region="left" class="three-column-child">
    <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag" />
    </div>
  </div>
  
  <div data-portal-region="middle" class="three-column-child">
    <div data-th-each="component : ${middleRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag" />
    </div>
  </div>
  
  <div data-portal-region="right" class="three-column-child">
    <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
      <div data-portal-component="${component.path}" data-th-remove="tag" />
    </div>
  </div>
</div>