name: Release

on:
  push:
    branches:
      - master

# Only run on upstream repository, not forks
env:
  IS_UPSTREAM: ${{ github.repository == 'Liberalistene-Developers/lib.no' }}

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.repository == 'Liberalistene-Developers/lib.no'
    strategy:
      matrix:
        node-version: [22.15.1]
    permissions:
      contents: write
      issues: write
      pull-requests: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ENONIC_CLI_REMOTE_URL: ${{ secrets.ENONIC_CLI_REMOTE_URL }}
      ENONIC_CLI_REMOTE_USER: ${{ secrets.ENONIC_CLI_REMOTE_USER }}
      ENONIC_CLI_REMOTE_PASS: ${{ secrets.ENONIC_CLI_REMOTE_PASS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Install dependencies
        run: npm install

      - name: Install Enonic CLI globally
        run: npm install -g @enonic/cli

      - name: Lint code and css
        run: npm run lint

      - name: Run tests
        run: npm run test

      - name: Release
        run: npx semantic-release
